#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

body{
    background-color: #000080;
    color: white;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

h1{
    font-weight: 1000;
    font-size:5vh;
}

.buttons-container{
    margin-top: 2vh;
    margin-bottom: 3vh;
    flex-wrap: wrap;
}

#rock-button, #paper-button, #scissors-button{
    border-radius:5rem;
    border: 0.3rem solid black; 
    margin: 0 1vw; 
}

#rock-img, #paper-img, #scissors-image{
    height: 23vh;
    width: 23vh;
    border-radius:5rem;
}

.roundContent{
    font-size: 2rem;
    background-color: #101010;
    border-radius:1rem;
    border: 0.2rem solid white;
    padding: 1rem;
    margin-bottom: 3vh;
}

#user-choice-div, #computer-choice-div{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1vh;
}

.resultContent{
    font-size: 2rem;
    background-color: #101010;
    border-radius:1rem;
    border: 0.2rem solid white;
    padding: 1rem 3rem;
    margin: 2vh 0;
}

.endMessage{
    font-size: 2rem;
    font-weight: 700;
    border-radius:1rem;
    border: 0.2rem solid white;
    padding: 1rem 3rem;
    background-color: #0066b2;
    margin-bottom: 3vh;
}



